/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ----------------------------------------------------------------------------------------
    Item Name: Vue_komorsan - Vuejs, HTML &  Dashboard Template
    Author : krylov
==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}
